<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State Selection</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar">
    <div class="navbar_container">
        <a th:href="@{/}" id="logo">MyHEALTH</a>
        <div class="navbar_toggle" id="mobile_menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
            <li class="navbar_item">
                <a th:href="@{/profile}"  class="navbar_links" id="home_page">Profile</a>
            </li>
            <li class="navbar_item">
                <a th:href="@{/history}" class="navbar_links" id="info_page">History</a>
            </li>
            <li class="navbar_item">
                <a href="#reviews" class="navbar_links" id="Reviews_page">Comments</a>
            </li>
            <li class="navbar_button">
                <a class="loginup_button" id="loginup" sec:authorize="isAnonymous()" th:href= "@{/login}">Login/Signup</a>
                <form name="logoutform" th:action="@{/logout}" method="post" th:hidden="true">
                    <input type="submit" value="Logout">
                </form>
                <a class="loginup_button" sec:authorize="isAuthenticated()" href="javascript:document.logoutform.submit()">Logout</a>
            </li>
            <li class="navbar_item">
                <span class="navbar_links"  id="user_name" sec:authorize="isAuthenticated()" sec:authentication="principal.name"></span>
            </li>
        </ul>
    </div>
</nav>

<form class="bodyga">
        <h2>Please Select your <strong style ="color:#da22ff">State</strong> </h2>
        <Select id="stateSelect" name="states">
            <option th:each="state : ${statedropdown}" th:text="${state}"></option>
        </Select>
        <button class="main__btn" id="stateb_btn" type="submit">Search</button>
    </form>

    <script th:src="@{../script.js}"></script>

</body>
</html>