<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>State Selection</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" th:href="@{style.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap" rel="stylesheet">
</head>
<body>
<nav class="navbar">
    <div class="navbar_container">
        <a href="#home" id="logo">MyHEALTH</a>
        <div class="navbar_toggle" id="mobile_menu">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <ul class="navbar_menu">
            <li class="navbar_item">
                <a th:href="@{/profile}"  class="navbar_links" id="home_page">Profile</a>
            </li>
            <li class="navbar_item">
                <a th:href="@{/history}" class="navbar_links" id="info_page">History</a>
            </li>
            <li class="navbar_item">
                <a href="#reviews" class="navbar_links" id="Reviews_page">Comments</a>
            </li>
            <li class="navbar_button">
                <a class="loginup_button" id="loginup" sec:authorize="isAnonymous()" th:href= "@{/register}">Login/Signup</a>
                <form name="logoutform" th:action="@{/logout}" method="post" th:hidden="true">
                    <input type="submit" value="Logout">
                </form>
                <a class="loginup_button" sec:authorize="isAuthenticated()" href="javascript:document.logoutform.submit()">Logout</a>
            </li>
        </ul>
    </div>
</nav>

<form class="bodyga">
        <h2>Please Select your <strong style ="color:#da22ff">State</strong> </h2>
        <Select id="selt" name="states">
            <option th:each="state : ${statedropdown}" th:text="${state}"></option>
        </Select>
        <button class="main__btn"><a href="index.html">Search</a></button>
    </form>
    <script src="../static/script.js"></script>
    <script th:src="@{script.js}"></script>
</body>
</html>